
@{
    ViewData["Title"] = "PensinerHome";
}

<h1>PensinerHome</h1>
<div>
    <a asp-action="AddPensioner">Add Pensioner</a>
</div>
<div>
    <a asp-action="UpdatePension">Update Details</a>
</div>
<div>
    <a asp-action="Logout">Logout</a>
</div>

